## ---------------------------
## Dashboard
## ---------------------------

dashboard {
  listeners {
    http {
      enable = true
      bind = 18083
    }

    https {
      enable = false
    }
  }
}

## ---------------------------
## Authentication: HTTP -> SAS
## ---------------------------

authentication = [
  {
    enable = true

    mechanism = password_based
    backend = http

    method = post
    url = "http://fmo-sas:8080/auth"

    headers {
      "Content-Type" = "application/json"
    }

    body {
      username = "${username}"
      password = "${password}"
    }

    request_timeout = "5s"
    connect_timeout = "5s"
    pool_size = 8
  }
]